snippet wtp Without this patch ..
	Without this patch 
snippet bc This is a problem because ..
	This is a problem because 
snippet tpa This patch addresses the problem ..
	This patch addresses the problem 
